<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name ="SeleniumDocker" thread-count="2" parallel="tests" verbose="3">
 
 <test name="TitleFirefox">
   <parameter name="strbrowser" value="chrome"></parameter>
   	<classes>
			<class name="Scripts.Config"></class>
		</classes>
	</test>
 
 
  <test name="TitleChrome">
   <parameter name="strbrowser" value="firefox"></parameter>
   		<classes>
			<class name="Scripts.Config"></class>
		</classes>
	</test> 

	 
	
	
 </suite> 
